<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kaichu.xlsx2csv</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>59BCD62D-D4A5-4A15-9CD7-84861F9634A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6510F10D-8F22-4303-AA95-7BD6F2971A30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60073521-1C90-43EE-B1BC-1463EF9D65B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BCD62D-D4A5-4A15-9CD7-84861F9634A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60C45227-741E-4EE7-B7F4-0DB95FFCDE69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF3374E8-EB72-4ABE-A64E-520C1D3E818D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6226B067-29AD-46C8-B020-6D205C52A0D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A897951-C4E6-4E1A-B7D5-7FB1005B6849</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6D8D656A-0353-4503-B4C8-D2466DA6113E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6A7A99F6-8294-43B5-A3D8-5E967A9C12F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6510F10D-8F22-4303-AA95-7BD6F2971A30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11E7E66E-5A61-4A43-B0FE-9DAF349F7DD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6D8D656A-0353-4503-B4C8-D2466DA6113E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6226B067-29AD-46C8-B020-6D205C52A0D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A897951-C4E6-4E1A-B7D5-7FB1005B6849</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60C45227-741E-4EE7-B7F4-0DB95FFCDE69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C558655-2605-45F2-B43F-7A0C2013BE89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5073D1D-5C12-4428-9BAF-C908DF04590F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D541CCC-6DE3-4537-91EE-07ADD3383EED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BCD62D-D4A5-4A15-9CD7-84861F9634A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5073D1D-5C12-4428-9BAF-C908DF04590F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59BCD62D-D4A5-4A15-9CD7-84861F9634A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BECF30B6-E079-4675-9B79-0AFA800E6A50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D541CCC-6DE3-4537-91EE-07ADD3383EED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>KAI CHU CHUNG</string>
	<key>description</key>
	<string>Convert Excel to CSV</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Excel to CSV</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:error}</string>
				<key>title</key>
				<string>Excel to CSV</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>11E7E66E-5A61-4A43-B0FE-9DAF349F7DD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>go-action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>60073521-1C90-43EE-B1BC-1463EF9D65B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>go-action</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BF3374E8-EB72-4ABE-A64E-520C1D3E818D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading...</string>
				<key>script</key>
				<string>./exe listSheet -f "${file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>List Excel Sheet</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6A897951-C4E6-4E1A-B7D5-7FB1005B6849</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:file}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>index</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>60C45227-741E-4EE7-B7F4-0DB95FFCDE69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./exe convert -i ${index} -- "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>slice_multi.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59BCD62D-D4A5-4A15-9CD7-84861F9634A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>org.openxmlformats.spreadsheetml.sheet</string>
				</array>
				<key>name</key>
				<string>Convert Excel to CSV</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>BECF30B6-E079-4675-9B79-0AFA800E6A50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:error}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Error</string>
						<key>uid</key>
						<string>6D8D656A-0353-4503-B4C8-D2466DA6113E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Success</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6510F10D-8F22-4303-AA95-7BD6F2971A30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>index</key>
					<string>-1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9D541CCC-6DE3-4537-91EE-07ADD3383EED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>choose_sheet</string>
						<key>outputlabel</key>
						<string>Chose Sheet</string>
						<key>uid</key>
						<string>6D8D656A-0353-4503-B4C8-D2466DA6113E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6226B067-29AD-46C8-B020-6D205C52A0D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Save {var:csvfile} success</string>
				<key>title</key>
				<string>Excel to CSV</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6A7A99F6-8294-43B5-A3D8-5E967A9C12F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>xlsx2csv</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Find Excel and convert to CSV</string>
				<key>title</key>
				<string>Find Excel and convert to CSV</string>
				<key>types</key>
				<array>
					<string>org.openxmlformats.spreadsheetml.sheet</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>6C558655-2605-45F2-B43F-7A0C2013BE89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>index</key>
					<string>-1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A5073D1D-5C12-4428-9BAF-C908DF04590F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-xlsx2csv

Convert Excel file to CSV file

![](./demo.png)

## Features

- Convert Excel file to CSV file

## Prerequisite
- Alfred 5


## Change Log

### 0.1.0
- Initial release

https://github.com/cage1016/alfred-xlsx2csv</string>
	<key>uidata</key>
	<dict>
		<key>11E7E66E-5A61-4A43-B0FE-9DAF349F7DD1</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>59BCD62D-D4A5-4A15-9CD7-84861F9634A0</key>
		<dict>
			<key>note</key>
			<string>Convert Excel to CSV</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>60073521-1C90-43EE-B1BC-1463EF9D65B9</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>60C45227-741E-4EE7-B7F4-0DB95FFCDE69</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>6226B067-29AD-46C8-B020-6D205C52A0D4</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>6510F10D-8F22-4303-AA95-7BD6F2971A30</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>6A7A99F6-8294-43B5-A3D8-5E967A9C12F8</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>6A897951-C4E6-4E1A-B7D5-7FB1005B6849</key>
		<dict>
			<key>note</key>
			<string>List Sheet Name</string>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>6C558655-2605-45F2-B43F-7A0C2013BE89</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>9D541CCC-6DE3-4537-91EE-07ADD3383EED</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>A5073D1D-5C12-4428-9BAF-C908DF04590F</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>BECF30B6-E079-4675-9B79-0AFA800E6A50</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>BF3374E8-EB72-4ABE-A64E-520C1D3E818D</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>,</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Delimiter to use between fields</string>
			<key>label</key>
			<string>Delimiter</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DELIMITER</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/cage1016/alfred-xlsx2csv</string>
</dict>
</plist>
